<h1>Some guide</h1>
<div class="text-info guide">
  <p>You can add resources (and edit them) to track updates. Every resource can be marked some tags,
    tags are separated by ';'. All tags are shown in the sidebar, they can be deleted by clicking on the 'x'.
    Also you can filter resources by tags. You can do it two ways: clicking on the tag in the Tags section of the
    resource list, or typing tag name in special form.</p>

  <p>When your resource will be changed, you receive tooltip and email :-) </p>
</div>
