<% content_for :inner_header do %>
  <div style="text-align: center">
    <h4>Please, sign in:</h4>
<span id="signinButton">
    <%= link_to 'Sign in', 'https://accounts.google.com/o/oauth2/auth?' +
            'scope=https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email&' +
            'state=%2Fprofile&' +
            'redirect_uri=' + signin_url + '&' +
            'response_type=code&' +
            'client_id=' + ENV['CLIENT_ID'], :class => 'btn' %>

  </span>
  </div>
<% end %>