<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/client:plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<div style="text-align: center">
  <h4>Please, sign in:</h4>
  <span id="signinButton">
    <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="321374248887.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-height='tall'
    data-requestvisibleactions="http://schemas.google.com/AddActivity"
    data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email"
    data-width='wide'>
    </span>
  </span>
</div>