<% if @errors_array && !@errors_array.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @errors_array.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>