<h4>Tags:</h4>
<% @tags.keys.each_with_index do |tag_id, count| %>
  <div class="label">
    <div class="label-text"><%= @tags[tag_id] %></div>&nbsp<%=
      link_to '<i class="icon-remove icon-white"></i>'.html_safe,
              tag_delete_path(tag_id), method: :delete, remote:true %>
  </div>
<% end %>
<script>tagTruncation()</script>