<img src="http://img4.joyreactor.cc/pics/post/танцуют-все-гифки-пингвины-песочница-277274.gif" alt="Танцующие человечки" border="0">
<br/>
<br/>
<table class="table table-bordered table-striped table-condensed">
  <thead>
  <tr>
    <th style="width: 2%">№</th>
    <th style="width: 44%">Name</th>
    <th style="width: 10%">&nbsp</th>
  </tr>
  </thead>
  <tbody>
  <% @tags.keys.each_with_index do |tag_id, count| %>
      <tr>
        <td><%= count+1 %></td>
        <td><%= @tags[tag_id] %></td>
        <td style="text-align: center">
          <%= link_to 'Edit', edit_tag_url(tag_id), :class => 'btn'%>
        </td>
        <td style="text-align: center">
          <%= link_to 'Delete', tag_url(tag_id),  :method => :delete, :confirm => "Are you sure?", :class => 'btn'%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>