<div id="new-res-form" class="modal hide fade modal-thin" tabindex="-1" role="dialog"
     aria-labelledby="NewResModalLabel" aria-hidden="true">
  <%= form_for :resource, url: resources_path, html: {
          class: 'form-horizontal', id: 'new-resource-form'} do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×
        </button>
        <h3 id="NewResModalLabel">Add new resource</h3>
      </div>
      <div class="modal-body">
        Add new resource:
        <% %w[name url tags filter].each do |item| %>
            <div class="control-group">
              <%= f.text_field item.to_sym, placeholder: item.titleize %>
            </div>
        <% end %>
        <div>Update checking periodicity:</div>
        <div>
          <%= f.collection_select :schedule_code,
                                  @schedule_codes, :to_s, :to_s, {:selected => 'never'} %>
        </div>

      </div>
      <div class="modal-footer">
        <%= f.submit 'Add', class: 'btn btn-primary' %>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
  <% end %>
</div>