<% if @resource %>
    <div id="edit-res-form" class="modal modal-win hide fade modal-thin" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×
        </button>
        <h3 id="myModalLabel">Edit resource</h3>
      </div>
      <div class="modal-body">
        <%= form_for @resource, :as => :resource2, :url => resource_path(@resource.id),
                     :method => :put, :html => {:class => 'form-horizontal modal-form'} do |f| %>
            <div class="errors">
            </div>
            Edit resource "<%= @resource.name %>"
            <% %w[name url tags filter].each do |item| %>
                <div class="control-group">
                  <%= f.text_field item.to_sym, placeholder: item.titleize %>
                </div>
            <% end %>
            <div>
              <div>Update checking periodicity:</div>
              <%= f.collection_select :schedule_code,
                                      @schedule_codes, :to_s, :to_s, {:selected => @schedule_code} %>
            </div>

        <% end %>
      </div>
      <div class="modal-footer">
        <button id="edit-res-submit" class="btn btn-primary" aria-hidden="true">Edit</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
<% end %>