<% provide(:title, 'Show resource') %>

<div class="navbar-inner" id="resource info">
    <h3>
        Resource url: <%= @resource.url %>
    </h3>
</div>
<div class="container" id="resource_frame">
    <iframe src="<%= @resource.url %>">
        <p>
            Your browser does not support iframes.
        </p>
    </iframe>
</div>