//@import "bootstrap"; //It's dark side

body {
  padding-top: 60px;
}
.label {
  a, a:hover {
    color: white;
    text-decoration: none;
  }
}
.modal-thin {
  width: 400px;
  margin-left: -200px;
}

.well {
  background-color: #FCFCFC;
  border: 0px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  padding: 10px;
}

.inner-header {
  padding: 25px;
}


.my-modal-backdrop {
  background-color: black;
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 1060;
  opacity: 0.7;
}