<header class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container">
      Здесь могла бы быть ваша реклама! (А будет какой-нибудь логотипчик)
      <div class="pull-right">
        <%= link_to 'Настройки', settings_path %>
      </div>
    </div>
  </div>
</header>