<header class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container">
      Здесь могла бы быть ваша реклама!
      <div class="pull-right">
        <%= link_to 'Настройки', '#' %>
      </div>
    </div>
  </div>
</header>